# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

*.iml
*.ipr
*.iws
.kotlin

# high-churn idea files. shouldn't have to ignore these but alas
.idea/modules.xml
.idea/go.imports.xml
.idea/compiler.xml

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run
runClient*
runServer*
